# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Database files
*.sqlite3
*.db

# Compiled files
*.so
*.pyd
*.dll

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage reports
htmlcov/
.coverage
*.cover

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# Flask instance folder
instance/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/
